/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2017, 8:12:02 PM
    Author     : mohamed
*/

.btn-transparent {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
/*
* Adding style to shopping cart 
    Author : Magdy
*/
.x-cart-notification {
    display: block;
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 8em;
    margin: -4em 0 0 -4em;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    z-index: -99999;
    border-radius: 100em;
    opacity: 0;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: opacity 0.65s cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.65s cubic-bezier(0.23, 1, 0.32, 1),transform 0.65s cubic-bezier(0.23, 1, 0.32, 1)
}

.x-cart-notification:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.85;
    -webkit-transition: background-color 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    transition: background-color 0.65s cubic-bezier(0.23, 1, 0.32, 1)
}

.x-cart-notification.bring-forward {
    z-index: 99999
}

.x-cart-notification.appear {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.x-cart-notification.loading .x-cart-notification-icon.loading {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.x-cart-notification.added:before {
    background-color: #46a546
}

.x-cart-notification.added .x-cart-notification-icon.loading {
    opacity: 0;
    -webkit-transform: translate(0, 0) scale(0.5) rotate(180deg);
    -ms-transform: translate(0, 0) scale(0.5) rotate(180deg);
    transform: translate(0, 0) scale(0.5) rotate(180deg)
}

.x-cart-notification.added .x-cart-notification-icon.added {
    opacity: 1;
    -webkit-transform: scale(1.25) rotate(0);
    -ms-transform: scale(1.25) rotate(0);
    transform: scale(1.25) rotate(0)
}

.x-cart-notification-icon {
    width: 100%;
    height: 100%;
    line-height: 7.85em;
    -webkit-transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1)
}

.x-cart-notification-icon>i {
    font-size: 3.85em;
    margin-top: 50px;
}

.x-cart-notification-icon.loading {
    color: rgba(255,255,255,0.35);
    opacity: 1;
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%)
}

.x-cart-notification-icon.added {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    opacity: 0;
    -webkit-transform: scale(0.5) rotate(-180deg);
    -ms-transform: scale(0.5) rotate(-180deg);
    transform: scale(0.5) rotate(-180deg)
}

/* Styling the rating form */
.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 3rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}



fieldset {
  border: 0;
  background: #222;
  border-radius: 1px;
  padding: 1em 1.5em 0.9em;
  margin: 1em auto;
}

#log {
  margin: 1em auto;
  width: 5em;
  text-align: center;
  background: transparent;
}

h1 {
  text-align: center;
}
/*************************
Styling the index page
*********************/

 .onsale {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: #ff2a13;
    display: block;
    width: 42px;
    height: 42px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 100%;
    background-color: #ff2a13;
    z-index: 1;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.45);
}
.product-list .entry-wrap{
    background: #fff;
    padding:10px;
}
.product-list .entry-product {
    position: relative;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
}
.product-list .product-name {
  font-family: "Lato",sans-serif;
  font-size: 25x;
  color: #272727;
  font-weight: normal;
  cursor: pointer;
}
.product-list ins  {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
.product-list del{
    font-size: 25px;
}
.add-to-cart, .increment-quantity, .add-to-wishlist , .remove-from-wishlist{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 20px;
    text-align: center;
    padding: 0.45em 0.5em 0.575em;
    display: none;
    font-size: 15px;
    margin-bottom: 0.25em;
    border-radius: 0.25em;
    cursor: pointer;
}
.add-to-cart, .increment-quantity{
    top: 110px;
    color: #fff !important;
    background: #FE980F !important;
    

}
.add-to-wishlist, .remove-from-wishlist{
    top: 170px;
    background: #FE980F !important;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    color: #fff;
    
}
.remove-from-wish-lss
.product-list del .amount {
    color: #7a7a7a;
}
.product-list ins .amount {
    color: #ff2a13;
}
.star-rating {
       position: absolute;
       top: 10px;
       right: 20px;
       display: none;
       unicode-bidi:bidi-override;
       font-size:20px;
       padding:5px;
       background: rgba(0,0,0,0.5);
       border-radius: 3px;
       
       
}
.btn-danger:focus, .btn-danger:hover  , .btn-primary:focus , .btn-primary:hover{
    background-position: 0 0 !important;
}
.product-list .entry-product .entry-featured:hover .star-rating, 
.product-list .entry-product .entry-featured:hover .add-to-cart, 
.product-list .entry-product .entry-featured:hover  .increment-quantity,
.product-list .entry-product .entry-featured:hover  .add-to-wishlist,
.product-list .entry-product .entry-featured:hover  .remove-from-wishlist
{
    display: block;
}
.star-rating span.star {
      font-family:FontAwesome;
      font-weight:normal;
      font-style:normal;
      display:inline-block;
}
.star-rating span.star:hover {
     cursor:pointer;
}
.star-rating span.star:before {
     content:"\f006";
     color:#999999;
}
.star-rating .star.filled:before {
    content:"\f005";
     color: #fff;
}

.addComment textarea , .addReply textarea {
   height: 50px;
   width: 70%;
   padding-left: 10px;
   margin-top: 10px
}
.addComment .btn , .addReply .btn{
  display: block;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.user-profile {
  margin-right: 20px;
}
.user-name {
  font-weight:bold;
   color: red;
   text-transform: capitalize;
}
.comment-info , .reply-info {
  color: #c34c21;
  font-size: 12px;
  font-style: italic;
  font-weight:bold;
}
.reply {
  margin-left: 60px;
}
.user-profile, .comment-container {
  display: inline-block;
  vertical-align: middle;
  float:none;
}

.cart-table td{
    vertical-align: middle !important;
}
.product-desc {
    font-family: "Lato",sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: #7a7a7a;
}
.star-rating.special {
    position : static !important;
    display: block !important;
    background: none !important;
}
.star-rating.special span.star:before {
     content:"\f006";
     color:red;
}
.star-rating.special .star.filled:before {
    content:"\f005";
     color: #f00;
}
.special-heading{
    font-family: 'Lato',sans-serif;font-weight: 400;display:inline-block; 
}
.comment {
    padding: 5px;
    margin: 5px;
   
}
.comment:nth-child(even) {
     background: #eee
}
.wish-list-table td {
    vertical-align: middle !important;
}
.wish-list-table td , .wish-list-table tr , .wish-list-table th , .wish-list-table td , .wish-list-table img {
    text-align: center;
}